.article {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;

  .inline-block {
    display: inline-block;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .article {
    flex-wrap: nowrap;
    gap: 15px;

    &__text {
      width: 60%;
    }
  }
}
