body {
  background-color: $gray-f8;
  margin: 0;
}

.hidden {
  display: none;
}

.show-768 {
  display: none;
}

#show-1366 {
  display: none;
}

.show-1366 {
  display: none;
}

@media (min-width: 768px) {
  .show-768 {
    display: flex;
  }

  .hide-768 {
    display: none;
  }
}

@media (min-width: 1366px) {
  #show-1366 {
    display: flex;
  }

  .show-1366 {
    display: flex;
  }

  .hide-1366 {
    display: none;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
