.callback-form {
  display: none;
  width: 100%;
  position: fixed;
  flex-wrap: wrap;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  overflow-y: auto;
  background-color: $white;
  box-shadow: 0px 5px 10px 10px rgba(189, 189, 189, 0.452);

  .circle {
    align-self: flex-start;

    &__cancel {
      position: relative;
      right: 1px;
    }
  }
}

.callback-form__title {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  align-self: flex-start;
  margin-left: -15px;
  margin-top: 65px;
}

.callback-form__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: center;
  width: auto;
  gap: 15px;
  padding: 15px;
}

.callback-form__item {
  width: 100%;
}

.callback-form__label {
  color: $gray-7e;
  position: relative;
  left: 12px;
  top: 37px;
  color: $submit-color;
  transition: all 0.3s ease;
  pointer-events: none;
}

.callback-form__input {
  height: 28px;
  width: 90%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid $white-gray;
  background-color: $white;
}

textarea {
  height: 98px;
  width: 90%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid $white-gray;
}

.callback.active {
  position: fixed;
  top: 26px;
  z-index: 110;

  .circle__phone {
    background-image: url('../img/cancel.svg');
    position: relative;
  }
}

.callback-submit {
  position: fixed;
  right: 15px;
  top: 350px;
  border: 0px;
  background-color: $white;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffffe3;
  z-index: 30;
}

@media (min-width: 768px) {
  .callback.active {
    position: fixed;
    right: 460px;
  }

  .callback-form {
    width: 440px;
  }
}
