$gray-f8: #f8f8f8;
$white: #ffffff;
$gray-7e: #7e7e82;
$border-color: #b8ffec;
$separator-color: #d9fff5;
$white-gray: #eaeaea;
$bullet: #b5b6bc;
$black: black;
$nav-hover: #41f6d7;
$opacity: #fffffff3;
$shadow: #eeeef3;
$submit-color: #b5b6bc;
